.input-output-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  &-image {
    display: flex;
    justify-content: center;
    &-item {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  &-colors {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 100%; // Para que crezca con respecto a la imagen
    &-box {
      flex-grow: 1; // Hace que todos los colores ocupen el mismo espacio vertical
      width: 50px;
      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.custom-file {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  &-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dd38ec;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    &:hover {
      background-color: #e91fc7;
    }
  }
}
